@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: helveticaNeue;
    src: url("../fonts/HelveticaNeueRoman.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helveticaNeue;
}

.container {
    width: 1200px;
    margin: auto;
}

.banner {
    width: 100%;
    background: url("../images/banner.webp");
    background-size: cover;
    border-top: 10px solid #2ecc71;
    >.container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        >div {
            &:first-child{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                >h1{
                    font-family: Pacifico;
                    color: #fff;
                    font-size: 60px;
                    font-weight: normal;
                    >span{
                        color: #2ecc71;
                        font-family: inherit;
                    }
                }
                >p{
                    font-size: 24px;
                    color: #fff;
                }
                >ul {
                    list-style: none;
                    display: flex;
                    gap: 14px;
                    >li{
                        width: 52px;
                        border-radius: 50%;
                        background: #000;
                        opacity: 50%;
                        >a{
                            text-decoration: none;
                            color: #fff;
                            line-height: 52px;
                            display: block;
                            text-align: center;
                            font-size: 24px;
                        }
                        &:hover{
                            background: #2ecc71;
                            opacity: 100%;
                        }
                    }
                }
            }
            &:last-child{
                padding-top: 95px;
            }
        }
    }
}