*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border-width: 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px;
    &:hover {
        background: dodgerblue;
        color: #fff;
    }
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    >.cal {
        width: 300px;
        height: 400px;
        border: 1px solid #ccc;
        padding: 20px;
        box-shadow: 0 0 10px #000;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        >.show {
            width: 100%;
            height: 50px;
            line-height: 50px;
            border-radius: 12px;
            border: 1px solid #000;
            padding: 0px 10px;
            font-size: 22px;
            box-shadow: 0 0 4px #000 inset;
        }
        >.buttons {
            display: grid;
            grid-template-columns: 3fr 2fr;
            height: calc(100% - 60px);
            padding: 10px 0px;
            grid-gap: 8px;

            >.numbers {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 8px;
                direction: rtl;
            }
            >.signs {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 8px;
                >.equal{
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 3;
                    grid-row-end: 5;
                }
            }
        }
    }
}